.patientdashbaord {
  background-color: white;
  background-image: url("../assest/patient.png");
  background-size: cover;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  /* set background color and font family */
  body {
    background-color: #a3c552;
    font-family: Arial, sans-serif;
  }
  /* Add this CSS to your stylesheet */
  .user-profile-button {
    width: 146px;
    background-color: #766f59;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  /* Adjust the button's appearance when hovering */
  .user-profile-button:hover {
    background-color: #0056b3;
  }

  /* Add this CSS to your stylesheet */
  .profile-icon {
    font-size: 55px;
    color: var(--bs-gray-700);
    margin: 0 auto;
    position: absolute;
    left: 70px;
    top: 10%;
    margin-bottom: 10px;
  }
  .patientavatar {
    width: 55px;
  }

  /* center content */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  button {
    background-color: #458395;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
    max-width: 300px;
    border-color: #bfdfe2;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    color: #fffced;
  }
  .psd {
    overflow-y: scroll;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: transparent transparent; /* For Firefox */
  }

  .psd::-webkit-scrollbar {
    width: 0.5rem; /* Adjust the width as needed */
  }

  .psd::-webkit-scrollbar-thumb {
    background-color: transparent; /* Make the thumb transparent */
  }

  button:hover {
    background-color: white;
    color: #58af58;
  }

  input[type="file"] {
    display: block;
    margin-bottom: 10px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .welcome {
    background-color: rgb(95, 105, 72);
    color: rgb(223, 214, 214);
    padding: 10px;
    padding-top: 16px;

    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
  }

  div {
    display: block;
  }

  // body {
  // 	background-image: url("7.jpg");
  // 	background-repeat: no-repeat;
  // 	background-size: cover;
  // }
  .profile {
    cursor: pointer;
  }

  .profile img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}

.profile-name-box {
  text-align: center;
}

.profile-box {
  position: relative;
}

.profile-dropdown {
  position: absolute;
  top: 23%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1;
}

.logout-button {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
}

.logout-button:hover {
  background-color: #d32f2f;
}
